<template>
    <div class="filter-wrapper">
        <div
            class="filter-item" 
            :class="{active: optionSelected === option}"
            v-for="option in movieOptions" 
            @click="selectOption(option)"
        >
            <p>
                {{option}}
            </p>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue';
import { movieOptions } from '../../helpers/fetchMovieOptions';
import { useStore } from 'vuex'
import type { MovieOption } from '../../helpers/fetchMovieOptions';
import type { State } from '../../store/index';
import { ACTIONS } from '../../store/actions';

const store = useStore<State>()
const optionSelected = ref<MovieOption>("IN THEATERS");

function selectOption(option: MovieOption) {
    optionSelected.value = option
}

watch(optionSelected, async(newOption) => {
    await store.dispatch(ACTIONS.FETCH_MOVIES, newOption)
})
</script>
<style lang="scss">
.filter-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    overflow-x: auto;
    width: 90%;
    margin: 0 auto;
    &::-webkit-scrollbar{
        width: 0px;
    }

    &::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 0px;
    }
}

.filter-item {
    color: $text;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0 .5rem 1rem .5rem;
    font-size: .8rem;

    &:hover {
        color: $orange;
        border-color: $orange;
    }

    @include sm {
        font-size: 1rem;
        padding: 0 1rem 1rem 1rem;
    }

    border-bottom: 1px solid $text;
}

.active{
    color: $orange;
    border-color: $orange;
}
</style>