button {
    cursor: pointer;
    background-color: transparent;
}

body{
    font-family: 'Roboto', sans-serif;
    background: $gray;
    height: 100vh;
}

* {
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}