$yellow: #e4bc01;
$text: #8b8b8b;
$white: #fff;
$light-white: #fefef2;
$gold: #685824;
$orange:#e6ba00;
$gray: #f3f3f3;
$blue:#54ade8;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1200px;

// Small devices
@mixin sm {
    @media (min-width: $bp-mobile) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: $bp-tablet) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: $bp-laptop) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: $bp-desktop) {
        @content;
    }
}

@mixin rwd($screen) {
    @media (min-width: $screen) {
        @content;
    }
}