<template>
    <li class="movie-list-item" @click="fetchActiveMovie">
        <img :src="image" :alt="movie.title">
        <div class="movie-description">
            <p class="title">{{movie.title}}</p>
            <p class="genres">{{movieGenres.join(', ')}}</p>
            <span class="average">
                <i class="fa-solid fa-heart"></i> {{movie.vote_average.toFixed(2)}}
            </span>
        </div>
    </li>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { Movie } from '../../store/interfaces';
import env from '../../utils/env';
import { useStore } from 'vuex';
import { State } from '../../store';
import { GETTERS } from '../../store/getters';
import { ACTIONS } from '../../store/actions';
const store = useStore<State>()
const props = defineProps<{ movie: Movie }>();

const image = computed(() => `${env.API_IMAGE_URL}/${props.movie.poster_path}`);
const movieGenres = computed<string[]>(() => (
    store.getters[GETTERS.GET_MOVIE_GENRES](props.movie)
));

const fetchActiveMovie = () => {
    store.dispatch(ACTIONS.GET_MOVIE, props.movie.id);
}

</script>

<style lang="scss">
.movie-list-item {
    background-color: $white;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 3px 9px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 9px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 9px 22px -6px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    >img {
        width: 100%;
        height: 85%;
        height: 100%;
    }
}

.movie-description {
    padding: .7rem 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.genres {
    font-size: 1rem;
    font-weight: 400;
    color: $orange;
    letter-spacing: 0.1rem;
}

.average{
    i{
        color:red;
    }
}
</style>