<template>
    <ul class="movie-list-container">
        <MovieItem
            v-for="(movie, index) in movies"
            :key="movie.id"
            :movie="movie"
            :index="index"
        />
    </ul>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import type { State } from '../../store';
import MovieItem from './MovieItem.vue';

const store = useStore<State>()
const movies = computed(() => store.state.movies)

</script>

<style lang="scss">
.movie-list-container{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap:1rem;
    padding: 1rem 2rem;

    @include sm{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
    }

    @include xl{
        grid-template-columns: repeat(3, 1fr);
    }
}
</style>