<template>
    <div class="hero-images-container">
        <ImageItem 
            v-for="(movie,index) in topRatedMovies" 
            :key="movie.original_title" 
            :movie="movie"
            :index="index" 
            :visibleSlide="carrouselData.visibleSlide"
            :direction="carrouselData.direction"
        />
        <div class="arrow-container">
            <i class="arrow-left fa-solid fa-chevron-up" @click="prevSlide"></i>
            <i class="arrow-right fa-solid fa-chevron-down" @click="nextSlide"></i>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, reactive } from 'vue';
import ImageItem from './ImageItem.vue';
import { useStore } from 'vuex';
import type { State } from '../../store';

interface CarrouselData {
    visibleSlide: number;
    direction: "left" | "right";
}

const store = useStore<State>()
const topRatedMovies = computed(() => store.state.topRatedMovies);
const topRatedLength = computed(() => topRatedMovies.value.length);

const carrouselData = reactive<CarrouselData>({
    visibleSlide: 0,
    direction: "left",
})

function nextSlide(){
    carrouselData.direction = "left"
    carrouselData.visibleSlide === topRatedLength.value - 1
        ? carrouselData.visibleSlide = 0
        : carrouselData.visibleSlide += 1
}

function prevSlide(){
    carrouselData.direction = "right"
    carrouselData.visibleSlide === 0
        ? carrouselData.visibleSlide = topRatedLength.value - 1
        : carrouselData.visibleSlide -= 1
}

onMounted(() => {
    setInterval(() => {
        nextSlide()
    }, 5000)
})

</script>

<style lang="scss" scoped>
.hero-images-container {
    background-attachment: fixed;
    height: 70vh;
    overflow: auto;
    width: 100%;
    scroll-snap-type: y mandatory;
    position: relative;
    overflow: hidden;
}

.arrow-container {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.arrow-left, .arrow-right {
    font-size: 1.5rem;
    color: $light-white;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    border: 2.5px solid $light-white;
    border-radius: 50%;
    padding:.2rem;
}

.arrow-left {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-right {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
</style>