<template>
    <transition :name="props.direction">
        <div class="image-item" :style="style" v-if="showSlide">
            <div class="movie-description">
                <h2>{{movie.title}}</h2>
                <section class="genres">
                    <h4 v-for="genre in movieGenres" :key="genre">{{genre}}</h4>
                </section>
                <button class="trailer-button" @click="goToTrailer">
                    Watch Trailer
                    <i class="fa-regular fa-circle-play"></i>
                </button>
            </div>
        </div>
    </transition>
</template>

<script lang="ts" setup>
import { computed } from '@vue/reactivity';
import { Movie, Trailer } from '../../store/interfaces';
import env from '../../utils/env';
import { useStore } from 'vuex';
import { State } from '../../store';
import { GETTERS } from '../../store/getters';
import { onMounted, ref } from 'vue';
import { ACTIONS } from '../../store/actions';

interface Props {
    movie: Movie;
    index: number;
    visibleSlide: number;
    direction: "left" | "right";
}
const props = defineProps<Props>();
const store = useStore<State>();
const trailer = ref('');

const showSlide = computed(() => props.index === props.visibleSlide)
const movieGenres = computed<string[]>(() => (
    store.getters[GETTERS.GET_MOVIE_GENRES](props.movie)
))
const style = computed(() => ({
    backgroundImage: `url(${env.API_IMAGE_URL}/${props.movie.backdrop_path})`,
}))

const goToTrailer = () => {
    window.open(`https://www.youtube.com/watch?v=${trailer.value}`, '_blank');
}

onMounted(async () => {
    const movieTrailer = await store.dispatch(ACTIONS.GET_TRAILER, props.movie.id) as Trailer
    trailer.value = movieTrailer.key
})
</script>

<style lang="scss" scoped>
.image-item {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    inset: 0;
}

.movie-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 1rem;

    h2 {
        color: $light-white;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    h4 {
        color: $light-white;
        font-size: .7rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 300;
    }

    @include sm {
        h2 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1rem;
        }
    }

    @include md {
        padding: 2rem 5rem;

        h2 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 1.2rem;
        }
    }

    @include lg {
        padding: 2rem 10rem;

        h2 {
            font-size: 3rem;
        }

        h4 {
            font-size: 1.5rem;
        }
    }
}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-right: 1rem;

    @include sm {
        gap: 1rem;
    }
}

.trailer-button {
    background-color: $orange;
    padding: .5rem 1rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @include sm {
        font-size: 1.2rem;
        padding: .7rem 1.2rem;
    }
}

.right-enter-active {
    animation: right-enter 0.3s linear;
}

.right-leave-active {
    animation: right-leave 0.3s linear;
}

@keyframes right-enter {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0%)
    }
}

@keyframes right-leave {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

.left-enter-active {
    animation: left-enter 0.3s linear;
}

.left-leave-active {
    animation: left-leave 0.3s linear;
}

@keyframes left-enter {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0%)
    }
}

@keyframes left-leave {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}
</style>