<template>
    <div class="movies-wrapper">
        <div class="movies-container">
            <MoviesFilter />
            <MoviesList />
        </div>
    </div>
</template>
<script lang="ts" setup>
import MoviesFilter from '../components/moviesFilter/MoviesFilter.vue';
import MoviesList from '../components/moviesList/MoviesList.vue';
</script>
<style lang="scss">
.movies-wrapper {
    height: 100%;
    width: 100%;
}

.movies-container {
    width: 100%;
    background-color: $gray;

    @include lg {
        width: 80%;
        margin: 0 auto;
        position: relative;
        bottom: 4rem;
        border-radius: .2rem;
    }

    @include xl {
        width: 70%;
    }
}
</style>