import { useStore } from 'vuex';
<template>
    <div class="modal-overlay">
        <div class="modal" v-if="activeMovie !== null">
            <i @click="closeModal" class="fa-solid fa-xmark"></i>
            <img :src="movieImage" :alt="activeMovie.title">
            <div class="movie-info">
                <div class="movie-title">
                    <p class="title">{{activeMovie.title}}</p>
                    <p class="movie-genres">{{movieGenres}}</p>
                    <p class="rating">
                        <span class="average">
                            <i class="fa-solid fa-heart"></i> {{activeMovie.vote_average.toFixed(2)}}
                        </span>
                        <span class="rating-title">Rating</span>
                    </p>
                </div>
                <div class="movie-desc">
                    {{activeMovie.overview}}
                </div>
                <button class="trailer-button" @click="goToTrailer">
                    Watch Trailer
                    <i class="fa-regular fa-circle-play"></i>
                </button>
            </div>
        </div>
        <Loader class="loader" v-else />
    </div>
</template>
<script lang="ts" setup>
import { useStore } from 'vuex';
import { State } from '../../store';
import { computed, ref, watch } from 'vue';
import { MUTATIONS } from '../../store/mutations';
import Loader from '../loaders/Loader.vue';
import env from '../../utils/env';
import { ACTIONS } from '../../store/actions';
import { Trailer } from '../../store/interfaces';

const store = useStore<State>();
const trailer = ref("")
const activeMovie = computed(() => store.state.activeMovie);
const movieImage = computed(() => `${env.API_IMAGE_URL}/${activeMovie.value?.poster_path}`);
const movieGenres = computed(() => activeMovie.value?.genres
    .map(genre => genre.name)
    .join(', ')
    .toLocaleLowerCase());

const closeModal = () => {
    store.commit(MUTATIONS.SET_ACTIVE_MOVIE, null);
    store.commit(MUTATIONS.SET_SHOW_MODAL, false);
}

const getTrailer = async () => {
    const movieTrailer = await store.dispatch(ACTIONS.GET_TRAILER, activeMovie.value?.id) as Trailer;
    trailer.value = movieTrailer.key
}

const goToTrailer = () => {
    window.open(`https://www.youtube.com/watch?v=${trailer.value}`, '_blank');
}

watch(activeMovie, () => {
    if (activeMovie.value !== null) {
        getTrailer();
    }
})

</script>
<style lang="scss" scoped>
.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000da;

    @include md{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    >i {
        color: $text;
        position: absolute;
        font-size: 1.5rem;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    @include md {
        border-radius: 1.2rem;
        width: 85%;
        height: 85%;
    }
    
    @include lg {
        width: 70%;
        height: 70%;
    }
    
    @include xl {
        width: 80%;
        height: 85vh;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap:0;
    }
}

.movie-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include xl{
        justify-content: space-between;
    }
}

.movie-title {
    letter-spacing: .2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;

    .title {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        color: $text;
        font-weight: 500;

        @include xl {
            font-size: 2rem;
        }
    }

    .movie-genres {
        text-transform: capitalize;
        font-size: .9rem;
        color: $blue;
        font-weight: 400;

        @include xl {
            font-size: 1.2rem;
        }
    }

    .rating {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        font-size: .9rem;
        letter-spacing: 0;

        .average {
            font-weight: 600;
            @include xl {
                font-size: 1.2rem;
            }
        }

        .rating-title {
            font-weight: 400;
            @include xl {
                display: none;
            }
        }

        i {
            color: red;
        }
    }

    @include xl {
        box-shadow: 0 0 1rem rgba(0,0,0,.1);
        padding:1.5rem;
        position: relative;
        top:3rem;
        right:1rem;
        z-index: 4;
        width: 90%;
        margin: 0 auto;
        gap:1rem;

        > *{
            text-align: left;
        }
    }
}

.movie-desc {
    font-size: .9rem;
    color: $text;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 1rem;

    @include xl {
        font-size: 1.5rem;
    }
}

.trailer-button {
    background-color: $orange;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: 600;
    transition: all .2s ease-in-out;
    width: 100%;
    bottom: 0;
    color: $white;
    font-size: 1.2rem;

    &:hover {
        transform: scale(1.1);
    }

    @include sm {
        font-size: 1.4rem;
        padding: 1.2rem 1.2rem;
    }

    @include md {
        border-radius: 0 0 1.2rem 1.2rem;
    }

    @include xl {
        border-radius: 0 0 1.2rem 0;
        &:hover {
            transform: scale(1);
        }
    }
}

img {
    width: 100%;
    height: 50%;
    object-fit: cover;

    @include md {
        border-radius: 1.2rem 1.2rem 0 0;
    }

    @include xl {
        border-radius: 1.2rem 0 0 1.2rem;
    }

    @include xl {
        height: 85vh;
        object-position: center;
        z-index: 3;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>