<template>
    <div class="sidebar-wrapper">
        <img src="../../assets/imdb.png" alt="imdb" class="logo-img">
        <img src="../../assets/profile.png" alt="imdb" class="profile-img">
    </div>
</template>

<script lang="ts" setup>
</script>

<style lang="scss" scoped>
.sidebar-wrapper {
    position: fixed;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm{
        padding:1rem;
    }
}

.links-container {
    display: flex;
    gap: 4rem;

    p {
        cursor: pointer;
        font-weight: 500;
        color: $white;
        transition: color 0.2s ease-in-out;

        &:first-child {
            color: $yellow;
        }

        &:hover {
            color: $yellow;
        }
    }
}

.logo-img {
    width: 7rem;
    height: 4rem;
}

.profile-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
</style>