<template>
    <div class="loader-container" v-if="isLoading">
        <Loader />
    </div>
    <div class="app-wrapper" v-else>
        <HeroImage />
        <Movies />
    </div>
    <Modal v-if="showModal" />
</template>

<script setup lang="ts">
import HeroImage from './components/HeroImage/HeroImage.vue';
import Movies from './views/Movies.vue';
import Loader from './components/loaders/Loader.vue';
import { useStore } from 'vuex';
import type { State } from './store/index';
import { computed, onMounted } from 'vue';
import { ACTIONS } from './store/actions';
import Modal from './components/modal/Modal.vue';

const store = useStore<State>();
const isLoading = computed(() => store.state.isLoadingMovies);
const showModal = computed(() => store.state.showModal);

onMounted(() => {
    store.dispatch(ACTIONS.GET_INITIAL_MOVIES);
})

</script>

<style scoped>
.app-wrapper {
    height: 100%;
}

.loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
}
</style>
